@()
<!--suppress ALL -->
<ul class="tabs tabs-transparent tabs-fixed-width no-overflow">
    <li class="tab">
        <a href="#candidates_container" class="btn-flat waves-effect waves-light white-text" onclick="onShowFab();">
            <div class="inline">
                <i class="material-icons left" style="height: 48px !important;">people_outline</i>
                <span class="valign-wrapper" style="height: 48px !important;">Management</span>
            </div>
        </a>
    </li>
    <li class="tab">
        <a href="#insight_container" class="btn-flat waves-effect waves-light white-text" onclick="onHideFab();">
            <div class="inline">
                <i class="material-icons left" style="height: 48px !important;">show_chart</i>
                <span class="valign-wrapper" style="height: 48px !important;">Insight</span>
            </div>
        </a>
    </li>
</ul>