@import model.account.Account

@(pageTitle: String)

<ul id="messages_menu" class="dropdown-content hide-on-small-only">
</ul>

<ul id="account_menu" class="dropdown-content hide-on-small-only">
    <li>
        <a href="@routes.OAuthController.getAccounts.url">My Linked Accounts</a>
    </li>
    <li>
        <a href="@routes.SettingsController.getSettings.url">Settings</a>
    </li>
    <li>
        <a href="@routes.UserController.logoutFromWebApp.url">Logout</a>
    </li>
</ul>

<h4 class="brand-logo hide-on-med-and-down left left-margin truncate">
@if(BaseController.APP_NAME.equals(pageTitle)) {
    <a href="@routes.MainController.index">@pageTitle</a>
} else {
    @pageTitle
}
</h4>

@defining(Account.getAccountFromSession) { account: Account =>
    @if(account.getToken != null) {
        @* For tablets and desktops *@
        <ul class="hide-on-small-only right">

            <li class="navigation-item manager_request_menu_item">
                <a id="messages_request_button" class="btn-flat dropdown-button side-padding-small" style="margin-left: 0;"
                data-activates="messages_menu" data-constrainwidth="false" data-beloworigin="true"
                data-alignment="right">
                    <i class="material-icons white-text">email</i>
                </a>
            </li>

            <li class="navigation-item">
                <a class="btn-flat side-padding-small tooltipped waves-effect waves-light" style="margin-left: 0;"
                data-tooltip="Notifications" href="@routes.NotificationsController.getNotificationsPage.url">
                    <i class="material-icons white-text">notifications</i>
                </a>
                @defining(session.get(NotificationsController.KEY_NUMBER_OF_NOTIFICATIONS)) { notificationCount =>
                    @if(notificationCount != null && Integer.parseInt(notificationCount) > 0) {
                        <span class="badge red white-text left top-margin left-margin circle circle-badge">
                        @notificationCount
                        </span>
                    }
                }
            </li>

            @defining(utilities.ProfileUtility.getProfileAlert.getTotalAlertsCount) { alertsCount =>
                @if(alertsCount > 0) {
                    <li id="alerts-navigation-item" class="navigation-item">
                        <a class="btn-flat side-padding-small tooltipped waves-effect waves-light" data-tooltip="Alerts"
                        href="@routes.AlertsController.getAlertsPage" style="margin-left: 0">
                            <i class="material-icons white-text">warning</i>
                        </a>
                        <span id="alerts-badge" class="badge red white-text left top-margin left-margin circle circle-badge">@alertsCount</span>
                    </li>
                }
            }


            <li class="navigation-item">
                <a data-activates="account_menu" data-beloworigin="true" data-constrainwidth="false"
                class="dropdown-button btn-flat side-padding-small right-margin-large">
                    <i class="material-icons white-text">account_circle</i>
                </a>
            </li>


        </ul>
    }
}