@()
<div id="date-chooser" class="row z-depth-2">

    <div id="date-tabs-container" class="col s12">

        <div id="date-chooser-scroll-wrapper" class="col s12" style="min-width: 600px">

            <ul class="tabs col s11 no-overflow" style="height: 48px">
                <li class="tab col s2 disabled">
                    <a class="indigo-text text-darken-4">This...</a>
                </li>
                <li class="tab date-tab col s2 disabled non-custom" data-range="days">
                    <a class="waves-effect active">
                    Week
                    </a>
                </li>
                <li class="tab date-tab col s2 disabled non-custom" data-range="weeks">
                    <a class="waves-effect">
                    Month
                    </a>
                </li>
                <li class="tab date-tab col s2 disabled non-custom" data-range="months">
                    <a class="waves-effect">
                    Quarter
                    </a>
                </li>
                <li class="tab date-tab col s2 disabled non-custom" data-range="quarters">
                    <a class="waves-effect">
                    Year
                    </a>
                </li>
                <li class="tab date-tab col s2 disabled custom" data-range="custom">
                    <a class="waves-effect">
                    Custom
                    </a>
                </li>
            </ul>

            <div class="col s1 white">

                <a class="dropdown-button btn-flat waves-effect" style="height: 48px;
                    padding-top: 8px;
                    padding-left: 16px;
                    padding-right: 16px" data-activates="graph-date-options"
                data-alignment="right" data-constrainwidth="false" data-beloworigin="true">
                    <i class="material-icons">settings</i>
                </a>

                <ul id="graph-date-options" class="dropdown-content">
                    <li>
                        <a>
                            <input type="checkbox" id="include_weekends">
                            <label for="include_weekends">Include Weekends</label>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <div id="date-range-picker" class="col s12">

        <div id="date-picker-start-wrapper" class="col l4 offset-l1 m6 s8 offset-s2">
            <div class="input-field" id="start-date-range">
                <input type="date" class="datepicker" id="comparison-start-date">
                <label for="comparison-start-date">
                    Start Date
                </label>
            </div>
        </div>

        <div class="col l4 m6 s8 offset-s2">
            <div class="input-field" id="end-date-range">
                <input type="date" class="datepicker" id="comparison-end-date">
                <label for="comparison-end-date">
                    End Date
                </label>
            </div>
        </div>

        <div id="submit-wrapper" class="col l2 m4 offset-m4 s4 offset-s4 valign-wrapper scale-transition scale-out">
            <div id="date-range-submit">
                <a class="waves-effect waves-light btn">
                    Submit
                </a>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('.select').material_select();
        });
</script>