@import model.dialsheet.HomePageDialSheet
@(dialSheet: HomePageDialSheet)
<table class="bordered">
    <thead>
        <tr>
            @for(contactType: model.dialsheet.DialSheetContactType <- dialSheet.getContactTypeList) {
                @if(contactType.isObjection) {
                    <th>@contactType.getStateDescription</th>
                }
            }
        </tr>
    </thead>
    <tbody class="objection-contact-status">
        <tr>
        @for(contactType: model.dialsheet.DialSheetContactType <- dialSheet.getContactTypeList) {
            @if(contactType.isObjection) {
                <td>@contactType.getStateCount</td>
            }
        }
        </tr>
    </tbody>
</table>