@import views.html.components._

@(errorText: String = null)
<!DOCTYPE html>
<html lang="en">
    <head>

        @BaseHead()

    <script src='https://www.google.com/recaptcha/api.js'></script>

    </head>
    <body>

        @BaseBodyHeader()

        <main>

            <div class="container row">

                <div class="row"></div>

                <div class="col l8 offset-l2 m10 offset-m1 s12">

                    <div class="card z-depth-3">

                        <div class="card-content row">

                            <span class="card-title">Forgot Password</span>

                            <form action="@routes.UserController.submitForgotPassword.url" method="POST">

                                <div class="col s12">
                                    @if(errorText != null) {
                                        <ul>
                                            <li class="red-text">@errorText</li>
                                        </ul>
                                    }
                                </div>

                                <div class="col s12">

                                    @helper.CSRF.formField

                                    <div class="input-field">
                                        <input type="email" id="email" name="@model.account.Account.EMAIL" required>
                                        <label for="email">Email</label>
                                    </div>


                                </div>

                                <div class="col s12 center-align">

                                    <div class="g-recaptcha" required data-sitekey="6LdKCSgUAAAAAFHPt0Mn_74bR4PWOeL0yjw0fk1f"></div>

                                </div>

                                <div class="row"></div>

                                <div class="col s12 centered-content">

                                    <button id="submitButton" type="submit" class="centered btn indigo waves-effect waves-light">
                                        Submit
                                    </button>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </main>

        @components.BaseFooter()

    </body>

</html>