@import views.html.components._
@(userId: String, resetLink: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        @BaseHead()
    </head>
    <body>

        @BaseBodyHeader()

    <main>

        <div class="container row">

            <div class="col l6 offset-l3 m8 offset-m2 s12">

                <div class="card z-depth-3">

                    <div class="card-content row">

                        <span class="card-title">Reset Password</span>

                        <div class="col s12">
                            <ul>
                                <li class="error" id="newPasswordError"></li>
                            </ul>
                        </div>

                        <form onsubmit="validateAndSubmitResetPassword('@resetLink');
                        return false;">

                            <div class="col s12">
                                <div class="input-field">
                                    <input type="password" id="newPassword">
                                    <label for="newPassword">New Password</label>
                                </div>
                            </div>

                            <div class="col s12">
                                <div class="input-field">
                                    <input type="password" id="confirmNewPassword">
                                    <label for="confirmNewPassword">Confirm New Password</label>
                                </div>
                            </div>

                            <div class="col s12 centered-content">

                                <button type="submit" id="submitButton" class="centered btn indigo waves-effect waves-light">
                                    Submit
                                </button>

                                @components.ProgressSpinner()

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </main>

        @BaseFooter()

    <script type="text/javascript">

        $(document).ready(function () {
            $('.progress-bar').hide();
        });

        function validateAndSubmitResetPassword(resetLink) {
            var $newPasswordError = $('#newPasswordError');

            var newPassword = $('#newPassword').val();
            var confirmNewPassword = $('#confirmNewPassword').val();

            var isValid = true;
            if (!resetLink || resetLink.length < 5) {
                $newPasswordError.html("The link you clicked to visit this currentPage is invalid");
                $newPasswordError.css("display", "block");
                isValid = false;
            }

            if (!newPassword || newPassword.length < 8) {
                $newPasswordError.html("Your password must be at least 8 characters long");
                $newPasswordError.css("display", "block");
                isValid = false;
            } else if (confirmNewPassword !== newPassword) {
                $newPasswordError.html("Your passwords do not match");
                $newPasswordError.css("display", "block");
                isValid = false;
            } else {
                $newPasswordError.html("");
                $newPasswordError.css("display", "none");
            }

            if (isValid) {
                var $submitButton = $('#submitButton');
                var $progress = $('.progress');

                var json = {};
                json.forgot_password_link = resetLink;
                json.user_id = '@userId';
                json.new_password = newPassword;

                $submitButton.css("display", "none");
                $progress.css("display", "block");

                doPost("@routes.UserApiController.resetPassword().url",
                        json,
                        function () {
                            var text = "Your password has been successfully reset";
                            window.location.href = "@routes.UserController.operationSuccess().url" + "?text=" + text;
                        },
                        function () {
                            $newPasswordError.html("There was an error processing your request");
                            $newPasswordError.css("display", "block");

                            $submitButton.css("display", "block");
                            $progress.css("display", "none");
                        });
            }
        }
        </script>

    </body>

</html>