@()
<div id="appointment_templates_dialog" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="center-align">
            @components.ProgressSpinner()
        </div>
        <div id="appointment_templates_container">
            <h4 id="appointment_templates_title">Would you like to export this appointment via calendar template?</h4>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action btn-flat waves-effect close">Close</a>
    </div>
</div>