@import model.outlook.CalendarTemplate
@()
<div id="create_event_template_dialog" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Help</h4>
        <p>
            This is an <i>Outlook Calendar Event</i> template that can be reused and selected whenever you schedule a
            new appointment. Later, once you create your first template, you will be able to select a template from
            the list after "exporting the appointment to <i>Outlook</i>".
        </p>
        <p>
            With every template there are "<i>variables</i>" you can use to have your templates get filled out even
            <i>faster</i> when you want to export an appointment via outlook. Variables allow you to fill in standard
            appointment information with the data you generated upon creating the appointment in <i>@BaseController.APP_NAME</i>
            .
        </p>
        <p>Here are the variables you have access to:</p>
        <ul class="browser-default">
            <li>@CalendarTemplate.VARIABLE_PROSPECT_NAME - The prospect's name</li>
            <li>@CalendarTemplate.VARIABLE_PROSPECT_PHONE - The prospect's phone number</li>
            <li>@CalendarTemplate.VARIABLE_PROSPECT_EMAIL - The prospects email</li>
            <li>@CalendarTemplate.VARIABLE_PROSPECT_JOB_TITLE - The prospect's job title</li>
            <li>@CalendarTemplate.VARIABLE_PROSPECT_COMPANY - The prospect's company</li>
            <li>@CalendarTemplate.VARIABLE_APPOINTMENT_DATE
                - The date of the appointment, formatted as <span style="display: block;">
                    "3/21/2017 at 3:00 PM"</span></li>
        </ul>
        <p>
            For instance, to have the subject auto-fill to "Meeting with John Doe", set the subject to "Meeting with
            @CalendarTemplate.VARIABLE_PROSPECT_NAME"
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-indigo btn-flat">OK</a>
    </div>
</div>