@()
<div id="edit_single_line_dialog" class="modal modal-fixed-footer">
    <div class="modal-content">

        <h4 id="edit_single_line_title">Edit List Name</h4>

        <div class="row"></div>

        <div class="input-field">
            <input type="text" id="edit_single_line_field">
            <label for="edit_single_line_field" id="edit_single_line_label"></label>
        </div>

    </div>

    <div class="modal-footer">
        <a class="modal-action btn-flat waves-effect close">Cancel</a>
        <a id="edit_single_line_submit" class="modal-action btn-flat waves-effect submit">Save</a>
    </div>
</div>