@()
@import components._

@import play.mvc.Http.Context
@import model.user.UserQuote
@()
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
    @BaseHead()
    </head>
    <body>

        @BaseBodyHeader("Submit a Quote")

        <main>

            <div class="container row">

                <div class="row"></div>

                <div class="row col l8 m12 s12 offset-l2 card white black-text z-depth-2">

                    <div class="col s12">

                        <h5 class="top-margin-large">Motivate fellow users!</h5>

                        <h5 class="bottom-margin">
                            Submit a quote that could be featured on everyone's home page:
                        </h5>

                        @defining(Context.current().flash().get(BaseController.KEY_ERROR)) { error =>
                            @if(error != null) {
                                <div class="row"></div>
                                <h6 class="red-text">@error</h6>
                            }
                        }

                        <div class="row"></div>

                        <form enctype="application/x-www-form-urlencoded" method="POST" class="top-margin"
                        action="@routes.MiscellaneousController.createUserQuote.url">

                            @helper.CSRF.formField

                            <div class="input-field">

                                <textarea class="materialize-textarea" type="text" id="quote_text"
                                name="@UserQuote.KEY_TEXT" required></textarea>
                                <label for="quote_text">Quote...</label>

                            </div>

                            <div class="row"></div>

                            <div class="input-field">
                                <input type="text" id="quote_author" name="@UserQuote.KEY_AUTHOR">
                                <label for="quote_author">Author</label>
                            </div>

                            <div class="row"></div>
                            <div class="row"></div>

                            <div class="centered-content bottom-margin">

                                <button class="btn waves-effect waves-light centered" type="submit">
                                    <i class="material-icons right white-text">send</i>
                                    Submit
                                </button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </main>

        @BaseFooter()

    </body>

</html>